input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  display: none;
}

.backdrop {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("assets/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover; /* Optional, to cover the entire element */
}
.container {
  width: 45rem;
  margin: auto;
  box-shadow: 0 0.1rem 0.5rem 0.1rem rgba(0, 0, 0, 0.2);
  border-radius: 1rem;
  background-color: white;
}
form {
  display: flex;
  flex-direction: column;
  margin: 1rem 3rem;
  padding: 1rem;
  gap: 0.1rem;
}
input {
  margin-bottom: 0.9rem;
  height: 2rem;
  font-size: 1.1rem;
  border-radius: 0.5rem;
  padding-left: 1rem;
}

button {
  background-color: #20baee;
  border: none;
  color: white;
  height: 2rem;
  font-size: 1.1rem;
  cursor: pointer;
  border-radius: 0.5rem;
}
